.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar-background {
  background-color: #1A1A1D;
}

.nav-link {
  cursor: pointer;
}

.active {
  border-bottom: 1px solid red;
}

.grey-components {
  background-color: grey;
}